body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.main-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  justify-items: center;
  gap: 50px;
}

.main-form > div {
  align-items: center;
}

.infos {
  justify-self: center;
  display: flex;
  gap: 16px;
  max-width: 700px;
  flex-wrap: wrap;
  justify-content: center;
}

.main-form h1 {
  text-align: center;
  font-size: 4rem;
  color: #222;
  font-weight: 500;
  margin: 16px 0px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  flex-direction: column;
  grid-column: 2;
  gap: 18px;
  align-self: center;
}

.form-gif {
  display: flex;
  grid-column: 1;
  grid-row: 1;
  align-items: center;
  object-fit: cover;
  position: relative;
  width: 400px;
}

.bg {
  position: fixed;
  background: #28476c;
  width: 50%;
  height: 100%;
  z-index: -1;
}
label {
  font-size: 1.2rem;
  color: #222;
}

.form-input {
  border: 0;
  border-bottom: 1px #999 solid;
  border-radius: 0;
  background-color: rgba(238, 238, 238, 0.445);
  width: 300px;
  height: 25px;
  font-size: 1rem;
  padding: 8px;
  border-radius: 2px;
  display: block;
}

textarea:focus,
input:focus {
  outline: none;
  background-color: #eee;
}

input::-webkit-inner-spin-button {
  appearance: none;
}

.form button {
  cursor: pointer;
  background-color: #28476c;
  display: block;
  margin-top: 24px;
  margin-bottom: 24px;
  color: white;
  text-align: center;
  border: 1px rgba(255, 255, 255, 0.295) solid;
  border-radius: 4px;
  padding: 16px;
  font-size: 2.2rem;
  transition: 0.1s background;
}

.form button:hover {
  background-color: #366196;
}

.address-title {
  font-size: 1.5rem;
  margin: 0;
  margin-top: 10px;
  align-self: flex-start;
  font-weight: 500;
}

.address {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  justify-items: center;
}

.cep {
  grid-column: 1 / -1;
}

.civil-state {
  grid-column: 1 / -1;
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.civil-state input {
  width: 30px;
}

.civil-state label {
  display: flex;
  gap: 2px;
  align-items: center;
}

.contact {
  display: flex;
  gap: 32px;
  position: relative;
}

.contact::after {
  content: "";
  background-color: #ccc;
  width: 700px;
  height: 2px;
  position: absolute;
  bottom: 0;
  grid-column: 1 / -1;
  overflow: hidden;
}

.contact label {
  display: flex;
  margin-bottom: 20px;
}

.contact input {
  width: 30px;
}

.terms input {
  width: 30px;
}

.terms label {
  display: flex;
  gap: 8px;
}

@media (width <= 1500px) {
  .form-gif {
    display: none;
  }

  .bg {
    display: none;
  }

  .address-title {
    color: white;
  }

  .main-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .contact::after {
    display: none;
  }

  .form {
    background-color: #28476c;
    padding: 32px;
    border-radius: 4px;
    display: flex;
  }

  .main-form label {
    color: white;
  }

  .form-input {
    background-color: #28476c;
    color: white;
    border-bottom: 1px rgba(255, 255, 255, 0.308) solid;
  }

  .form-input::placeholder {
    color: rgba(255, 255, 255, 0.486);
  }

  .contact {
    justify-items: start;
  }
}

@media (width <= 1500px) {
  textarea:focus,
  input:focus {
    background-color: transparent;
  }

  .form {
    align-items: center;
  }

  .form button {
    display: flex;
    width: 200px;
    align-self: center;
    justify-content: center;
  }
}

@media (width <= 400px) {
  .form-input {
    width: 90%;
    font-size: 1.2rem;
  }

  .form {
    padding: 10px;
  }

  label {
    font-size: 1.4rem;
  }

  .form button {
    font-size: 1.4rem;
    width: 140px;
    height: 50px;
    align-items: center;
    padding: 8px;
  }

  .main-form h1 {
    font-size: 3.2rem;
  }
}
